html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

::scrollbar {
    display: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #F54337;
}

::selection {
    color: white;
    background: #F54337;
}

#title {
    background-color: #4A148C;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 1rem 0;
    display: flex;
    z-index: 5;
    -webkit-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
}

#title a {
    color: #ffffff;
    text-decoration: none;
}

#title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.25rem;
    font-size: 45px;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

#subtitle {
    font-size: 20px;
    color: #ffffff;
    background-color: #F54337;
    justify-content: center;
    padding: 0.25rem 0;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
}

#subtitle p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.3rem;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.search {
    display: flex;
    justify-content: center;
}

.search input {
	outline: none;
    border: 2.5px solid #3366FF;
    text-align: center;
    width: 90vw;
    padding: 1.75rem;
    height: 1.5rem;
    border-radius: 5vmax;
    color: #3366FF;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

::placeholder {
    color: #3366FF;
    font-weight: 700;
    text-shadow: 0px 2.5px 2.5px rgba(0, 0, 0, 0.15);
}

div.card {
    margin: 1rem 0;
    text-align: center;
    border: 0;
}

.card-body {
    background-color: #3366FF;
    color: #ffffff;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.card-title {
    font-weight: 700;
    font-size: 20px;
}

.button {
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1.5rem;
}

button {
    font-weight: bold;
    color: #ffffff;
}

.footer {
    text-align: center;
    font-weight: 700;
    padding: 0.5rem 0;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.25rem;
    background-color: #0097FE;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px -2.5px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px -2.5px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -2.5px 10px 0px rgba(0, 0, 0, 0.15);
}

#img
{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    text-align: center;
    border-radius: 100%;
    -webkit-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
}