/*------------------------------------*\
  Colors
\*------------------------------------*/

$white-color: #fff;
$header-background-color: #4A148C;
$subtitle-background-color: #F54337;
$card-background: #3366FF;
