/*------------------------------------*\
  Colors
\*------------------------------------*/

$white-color: #fff;
$header-background-color: #4A148C;
$subtitle-background-color: #F54337;
$card-background: rgba(51, 102, 255, 0.95);
