/*------------------------------------*\
  Header Section
\*------------------------------------*/
@import '../CSS Colors/Color.scss';

.header-title {
    background-color: $header-background-color;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 1rem 0;
    display: flex;
    -webkit-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
}

.header-title a {
    color: $white-color;
    text-decoration: none;
}

.header-title a:hover{
    color: $white-color;
    text-decoration: none;
}

.header-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 0.25rem;
    font-size: 5vmax;
    text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

.subtitle {
    font-size: 2vmax;
    color: $white-color;
    background-color: $subtitle-background-color;
    justify-content: center;
    padding: 0.25rem 0;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
}

.subtitle p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5vmax;
    letter-spacing: 0.3rem;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}


#forkMe {
    top: 3em;
    right: -6em;
    color: #fff;
    display: block;
    position: fixed;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    transform: rotate(45deg) scale(0.75,1);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    -webkit-transform: rotate(45deg) scale(0.75,1);
    z-index:10;
}
#forkMe:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255,255,255,0.7) dashed;
}
#forkMe:hover {opacity: 0.9;}
