@import './CSS Colors/Color.scss';
@import '/Components/header.scss';
@import './Components/Card/card.scss';

html {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif!important;
  height: 100%;
}

/*------------------------------------*\
  #ANOTHER-SECTION
\*------------------------------------*/

::-webkit-scrollbar {
    display: none;
}

::scrollbar {
    display: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #F54337;
}

::selection {
    color: white;
    background: #F54337;
}
